#cards{
    width: 100vw;
    padding: 0 10vw;

    display: grid;
    grid-template-columns: repeat(5 , 12vw);
    gap: 5vw;
}

.card{
    width:12vw;
    height: 25vh;

    background-color: var(--corGreen);

    color: var(--corblack);
}