main {
    width: 100%;
    height: 68%;

    margin-top: 2%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#img {
    height: 100%;
    border-radius: 89% 11% 82% 18% / 18% 89% 11% 82%;
}

#infos {
    width: 25%;
    height: 100%;
    margin-left: 5%;
    padding: 5% 0 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#infos h1,
#infos h3,
#infos p {
    font-family: var(--fontSecundaria);
    color: var(--corblack);
}

#infos h1 {
    position: absolute;
    font-size: 11.4vw;
    margin: 0;
}

#infos h3 {
    position: absolute;
    font-size: 8.9vw;
    margin: 10vw 0 0 0;
}

#infos p {
    font-size: 1.2vw;
    text-align: justify;
    font-family: var(--fontPrincipal);
    margin: 22vw 0 0 0;
}