<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto Vitor</title>
        <link rel="stylesheet" href="./../styles/projeto.css">
        <script src="https://kit.fontawesome.com/398cd98506.js"
            crossorigin="anonymous"></script>
        <script type="module" src="./../controller/projetos.js"></script>
    </head>
    <body>
        <header>
            <div id="profissao">
                <h4>aluno de Computação</h4>
            </div>
            <div id="botoes-header">
                <button onclick="window.location.href='./index.html'"
                    id="btn-rosa" class="botao-header">
                    <h6>HOME</h6>
                    <i class="fa-solid fa-house"></i>
                </button>
                <button onclick="window.location.href='./projetos.html'"
                    id="btn-azul" class="botao-header">
                    <h6>PROJETOS</h6>
                    <i class="fa-solid fa-folder"></i>
                </button>
                <button onclick="window.location.href='./formacao.html'"
                    id="btn-amarelo" class="botao-header">
                    <h6>FORMAÇÃO</h6>
                    <i class="fa-solid fa-graduation-cap"></i>
                </button>
            </div>
        </header>
        <main>
            <section id="banners_com_btns">
                <nav id="banners">
                    <div id="banner_1" class="banner"></div>
                    <div id="banner_2" class="banner"></div>
                    <div id="banner_3" class="banner"></div>
                    <div id="banner_4" class="banner"></div>
                    <div id="banner_5" class="banner"></div>
                </nav>
                <nav id="btns_banner">
                    <div onclick="girarBanner(0)" id="btn_banner_0" class="btn_banner"></div>
                    <div onclick="girarBanner(1)" id="btn_banner_1" class="btn_banner"></div>
                    <div onclick="girarBanner(2)" id="btn_banner_2" class="btn_banner"></div>
                    <div onclick="girarBanner(3)" id="btn_banner_3" class="btn_banner"></div>
                    <div onclick="girarBanner(4)" id="btn_banner_4" class="btn_banner"></div>
                </nav>
            </section>
            <section id="cards"></section>
        </main>
    </body>
</html>